.main {
    background-color: chartreuse;
    height: 25px;
    overflow: hidden;
}

.mainSlide {
    display: grid;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
    animation: rolles 10s linear infinite 1s;
}
.test {
    height: 20px;
}

/* .mainSlide :first-child {
    color: blue;
    z-index:-1;
    animation: element-change 20s ease infinite 1s;
}

@keyframes element-change {
    0%,50% {
        transform: translateY(0%);
      }
      70%,100% {
        transform: translateY(300%);
      }
} */

@keyframes rolles {
    0% { transform: translateY(30px)}
    5% { transform: translateY(0px)}
    25% { transform: translateY(0px)}
    30% { transform: translateY(-21px)}
    50% { transform: translateY(-21px)}
    55% { transform: translateY(-42px)}
    70% { transform: translateY(-42px)}
    75% { transform: translateY(-63px)}
    95% { transform: translateY(-63px)}
    100% { transform: translateY(-100px)}
}

.clock {
    height: 20px;
    background-color: pink;
}