.squares {
    background-color: chartreuse;
    height: 25px;
    overflow: hidden;
}


.square-1 {
    background-color: fuchsia;
    height: 25px;
    width: 25px;
    transform: translateY(0px);
}

.square-2 {
    
}